/*标题*/
hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
.title{
    margin-top: 20px;
    margin-bottom: 20px;
}


/*内容*/
#app td{
    font-size: 16px;
    vertical-align: middle;
}


/*搜索书籍*/
#search{
    vertical-align: middle;
}
#search-book .row{
    margin-bottom: 30px;
}
#search-text{
    text-align: left;
    font-size: 16px;
    line-height: 30px;
}
#search-input{
    text-align: left;
}


/*添加书籍*/
#add-book label{
    margin-top: 10px;
    margin-bottom: 10px;
}
#add-book .form-group{
    margin-bottom: 0;
}
#add-book button{
    margin-top: 20px;
}


/*修改书籍*/
/*先将修改页面div隐藏，点击修改按钮后显示*/
#update-book{
    display: none;
}
#update-book label{
    margin-top: 10px;
    margin-bottom: 10px;
}
#update-book .form-group{
    margin-bottom: 0;
}
#update-book button{
    margin-top: 20px;
}